<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework create</title>
</head>
<body>
   
    <form action="" method="post">
        {% csrf_token %}
        <p>For which student</p>
        {{form.student}} <br>
        <p>Enter an image</p>
        {{form.images}}<br>
        <p>Select a topic </p>
        {{form.topic}} <br>
        <input type="submit" value = "submit">
    </form>



</body>
</html>